body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #ede7f6;
}

.pag-login {
    text-align: center;
}

.forma-esquerda{
    background-color: rgba(238, 123, 59, 1);
    width: 350px;
    height: 370px;
    float: left;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 275px;
}

.forma-direita{
    background-color: rgba(238, 123, 59, 1);
    width: 350px;
    height: 370px;
    float: right;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 275px;
}

.forma-dentro1{
    background-color: rgba(238, 123, 59, 0.5);
    width: 400px;
    height: 370px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 275px;
    float: left;
}
.forma-dentro2{
    background-color: rgba(238, 123, 59, 0.5);
    width: 400px;
    height: 370px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 275px;
    float: right;
}

.caixa {
    max-width: 85%;
    height: 100%;
    margin: 0 auto;
}

.box-login {
    display: inline-block;
    background-color: white;
    box-shadow: 3px 3px 5px 2px #ccc;
    padding: 40px 0px 40px 0px;
    border-radius: 20px;
    width: 400px;
    margin: 50px;
}

.pag-login .input-padrao {
    width: 50%;
    height: 30px;
    border: 1px solid;
    padding: 1px 10px;
    border-radius: 5px;
    display: inline-block;
}