body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #ede7f6;
}
.pag-cadastro{
    height: 535px
}
h1{
    margin: 0 auto;
}
.box-musicas {
    max-width: 85%;
    padding-top: 45px;
    margin: 0 auto;
}
.box-musicas form{
    display: inline-block;
    background-color: white;
    box-shadow: 3px 3px 5px 2px #ccc;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    width: 400px;
    margin-bottom: 50px;
}
.box-musicas img{
    float: right;
    width: 350px;
}
.input-padrao{
    width: 95%;
    height: 30px;
    border: 1px solid;
    padding: 1px 10px;
    border-radius: 5px;
    display: inline-block;
}